
*{font-family:"微软雅黑";font-size:12px;}
a{color:#333}
a:hover{color:#1c6f9b}
.setover{white-space:nowrap;text-overflow: ellipsis;overflow: hidden;}
#main{width:990px;margin:0 auto;}
#head{height:116px;background:url(../images/top_.jpg) #0a6896 center 0 no-repeat;}
#radius{position: absolute;left: 50%;margin-left: -503px;z-index: 3;top: 91px;width:1006px;height:25px;background:url(../images/radius__.png) 0 bottom no-repeat;}
#radius_{position: absolute;left: 50%;margin-left: -495px;z-index: 3;top: 92px;width: 990px;height: 25px;background: url(../images/radius_.png) 0 bottom no-repeat;}
/* banner图片切换 */
.slideBox{ width:990px; height:250px; overflow:hidden; position:relative;margin-top:-16px; }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:990px; height:300px; display:block;  }

/* 下面是前/后按钮代码 */
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }	

/* 导航 */
#navwrap{position:relative;z-index:3}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.nav{ padding:0 5px; height:50px; line-height:50px; background:#1088bc;  position:relative; z-index:2;letter-spacing:0.1em  }
.nav a{ color:#fff;  }
.nav .nLi{ float:left;  position:relative; display:inline;  }
.nav .nLi h3{ float:left;  }
.nav .nLi h3 a{ display:block; padding:0 12px; font-size:16px; font-weight:normal;  }
.nav .sub{ display:none; width:180px; left:0; top:50px;  position:absolute;background:#0e79a7\9;background:rgba(28,111,155,.9);  line-height:26px;  }
.nav .sub li{ zoom:1; }
.nav .sub a{ display:block; padding:10px 5px;text-align:center;font-size:14px;}
.nav .sub a:hover{ background:#0d6e96; color:#fff;  }
.nav .on h3 a{ background:#0d6e96; color:#fff;   }
.search_box{position:absolute;z-index:3;width:146px;height:25px;right:20px;top:13px; background:url(../images/search.png) 0 0 no-repeat; }
.search_box input{width: 105px;float: left;margin-top: 2px;margin-left: 8px;border: none;height:23px;line-height:23px;background:none;box-sizing:content-box}
.search_box input:focus{outline:none;}
.search_box a{width:30px;height:25px;float:left;cursor:pointer;}
.search_box a:hover;{cursor:pointer;}
/* 特色专科 */
.picMarquee-left{ width:990px;  overflow:hidden; position:relative; margin-top:15px; }
.picMarquee-left .bd{ padding:0px;   }
.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.picMarquee-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picMarquee-left .bd ul li .pic img{ width:186px; height:96px; display:block; }
.picMarquee-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picMarquee-left .bd ul li .title{ line-height:24px; margin-top:-24px;position:relative;letter-spacing:0.1em  }
.picMarquee-left .bd ul li .title a{color:#fff;}
.picMarquee-left .bd ul.bold li .pic{font-size:16px;}
.picMarquee-left .bd ul li .pic{text-align:center;display:block;width:186px;color:#fff;letter-spacing:0.1em;line-height:163px; height:96px;background-image:url(../images/icon.jpg);background-repeat:no-repeat;background-position:0 0;}
.picMarquee-left .bd ul li .t2{background-position:0 -96px;}
.picMarquee-left .bd ul li .t3{background-position:0 -192px;}
.picMarquee-left .bd ul li .t4{background-position:0 -288px;}
.picMarquee-left .bd ul li .t5{background-position:0 -384px;}
.picMarquee-left .bd ul li .t6{background-position:0 -480px;}
.picMarquee-left .bd ul li .t7{background-position:0 -576px;}
.picMarquee-left .bd ul li .t8{background-position:0 -672px;}
.picMarquee-left .bd ul li .t9{background-position:0 -768px;}
.picMarquee-left .bd ul li .t10{background-position:0 -864px;}
.picMarquee-left .bd ul li .t11{background-position:0 -960px;}
.picMarquee-left .bd ul li .t12{background-position:0 -1056px;}
.picMarquee-left .bd ul li .t13{background-position:0 -1152px;}
.picMarquee-left .bd ul li .t14{background-position:0 -1248px;}
.picMarquee-left .bd ul li .t15{background-position:0 -1344px;}
.picMarquee-left .bd ul li .t16{background-position:0 -1440px;}
.picMarquee-left .bd ul li .t17{background-position:0 -1536px;}
/* 页签切换 */
.slideTxtBox{ width:616px; text-align:left; float:left;margin-top:15px;}
.slideTxtBox .hd{ height:40px; line-height:40px;  padding:0px; position:relative; }
.slideTxtBox .hd ul{ float:left;  position:absolute; top:-1px; height:40px;   }
.slideTxtBox .hd ul li{ float:left; padding:0 35px; cursor:pointer;font-size:16px; color:#1c6f9b;letter-spacing:0.2em }
.slideTxtBox .hd ul li.on{ height:40px;  background:#c7e3f9; border:1px solid #67a0cd; border-bottom:1px solid #c7e3f9; }
.slideTxtBox .bd ul{ padding:5px;  zoom:1;  }
.slideTxtBox .bd li{border-bottom:1px dotted #ccc;height:34px;line-height:34px;font-size:12px;  }
.slideTxtBox .bd li .date{ float:right; color:#999;  }
.slideTxtBox .bd {  border:1px solid #67a0cd; overflow:hidden }		
.slideTxtBox .bd .inner .list_wrap{float:left;width:240px;padding-left:10px}
.slideTxtBox .bd .inner ul.list{float:right;width:220px;padding-right:15px}
.slideTxtBox .bd .inner ul.list li a{display:block;width:170px;white-space:nowrap;text-overflow: ellipsis;overflow: hidden;}
.slideTxtBox .bd .inner ul.list li span{width:42px;}
.slideTxtBox .bd .inner ul.list li.more{border:none;}
.slideTxtBox .bd .inner ul.list li.more a{float:right;color:#1c6f9b;width:auto}
.slideTxtBox .bd .inner ul.list li.more a:hover{text-decoration:underline}
/* 新闻切换 */
.slideNews{float:left}
.slideNews .bd2 ul{padding:0}
.slideNews{ width:346px; height:301px; overflow:hidden; position:relative; margin-left:7px;margin-top:10px;  }
.slideNews .hd2{ height:15px;position:absolute; right:5px; bottom:15px; z-index:1; }
.slideNews .hd2 ul{ overflow:hidden; zoom:1; float:left;padding:0  }
.slideNews .hd2 ul li{ float:left; margin-right:5px;  width:20px; height:20px;border-bottom:none; line-height:20px; text-align:center; background:#fff; cursor:pointer; }
.slideNews .hd2 ul li.on{ background:#1c6f9b; color:#fff; }
.slideNews .bd2{ position:relative; height:301px; z-index:0;  }
.slideNews .bd2 li{ zoom:1; vertical-align:middle; }
.slideBox .bd li span{ zoom:1;position:absolute;bottom:0px;height:30px;line-height:30px;background:rgba(0,0,0,.5);color:#fff;width:100%;text-indent:1em;}
.slideNews .bd2 img{ width:346px; height:301px; display:block; }


#content{overflow:hidden}


/* 专家风采 */
.rightBox{width:360px;float:right}
.slideDoctors{ width:370px; height:260px; overflow:hidden; position:relative;margin-top:15px }
.slideDoctors .bd{ position:relative; height:100%; z-index:0; border:none  }
.slideDoctors .bd li{ zoom:1; vertical-align:middle;height:auto;width:100%;line-height:27px;border:none}
.slideDoctors .bd img{ width:150px; height:210px; display:block;margin-left:28px;float:left;  }
.slideDoctors .bd .intro{float:left;width:150px;padding-left:5px;font-size:14px;}
.slideDoctors .bd .intro span{display:block;}
.slideDoctors .bd .intro span.t{white-space:nowrap;text-overflow: ellipsis;overflow: hidden;font-size:14px;}
.slideDoctors .bd .intro span.g{font-size:14px;color:#999}
.slideDoctors .bd a{display:block;width:305px;margin:0 auto;letter-spacing:0.1em;background:#ac224b;color:#fff;height:35px;line-height:35px;text-align:center;margin-top:225px}
.slideDoctors .bd a:hover{background:#871b3b}
/* 下面是前/后按钮代码 */
.slideDoctors .prev,
.slideDoctors .next{ position:absolute; left:3px; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -174px 5px no-repeat; filter:alpha(opacity=80);opacity:.8;   }
.slideDoctors .next{ left:auto; right:3px; background-position:-60px 5px; }
.slideDoctors .prev:hover,
.slideDoctors .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideDoctors .prevStop{ display:none;  }
.slideDoctors .nextStop{ display:none;  }



/* 为您导航 */
.guide{height:129px;border:1px solid #67a0cd; overflow:hidden;float:left;width:988px;margin-top:15px; }
.guide h3{height:108px;float:left;width:25px;padding:20px 8px 0 14px;font-weight:normal;background:#c7e3f9; border-bottom:1px solid #c7e3f9;font-size:16px; color:#1c6f9b;}
.guide a{float:left;width:234px;border-right:1px solid #ccc;height:64px;line-height:64px;text-align:center;background:#f8f8f8}
.guide a span{font-size:16px;color:#888;padding-left:10px;}
.guide a img{height:30px;width:30px;position:relative;top:10px;}
.guide a.bt{border-top:1px solid #ccc}
.guide a.right{border-right:none;width:236px;}
.guide a:hover{background:#e0effc;-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out}

@-webkit-keyframes bounceIn{0%,100%,20%,40%,60%,80%{-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}
60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}
80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}
100%{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
@keyframes bounceIn{0%,100%,20%,40%,60%,80%{-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);-ms-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
20%{-webkit-transform:scale3d(1.1,1.1,1.1);-ms-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
40%{-webkit-transform:scale3d(.9,.9,.9);-ms-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}
60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);-ms-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}
80%{-webkit-transform:scale3d(.97,.97,.97);-ms-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}
100%{opacity:1;-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
.guide a:hover img{-webkit-animation-name:bounceIn;animation-name:bounceIn;-webkit-animation-duration:.75s;animation-duration:.75s}


/* 两侧布局 */
#leftLayout{float:left;width:220px;margin-top:15px;}
#rightLayout{float:right;width:755px;margin-top:15px;letter-spacing:0.1em;}
.leftLayoutBox{ border:1px solid #67a0cd;width:218px;overflow:hidden;line-height:40px;margin-bottom:15px}
.leftLayoutBox .hd{height:40px;background: #c7e3f9;font-size:16px; color:#1c6f9b;letter-spacing:0.2em;text-align:left;text-indent:1em;}
.leftLayoutBox .bd a{height:40px;display:block;text-align:left;text-indent:2em;font-size:14px;border-bottom:1px solid #ddd;background:url('../images/arr.png') #f8f8f8 180px center no-repeat;}
.leftLayoutBox .bd a:hover,.leftLayoutBox .bd a.on{background:url('../images/arr_on.png') #f2f9fc 180px center no-repeat;-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out;color:#1c6f9b}
.address{height:40px;color:#888;line-height:40px;font-size:12px;border-bottom:1px solid #67a0cd;}
ul.list li{height:40px;line-height:40px;border-bottom:1px dotted #ddd;}
ul.list li a{font-size:12px;float:left;width:655px;white-space:nowrap;text-overflow: ellipsis;overflow: hidden;color:#666;}
ul.list li a:hover{color:#1c6f9b;}
ul.list li span{float:right;width:80px;color:#888;white-space:nowrap;text-overflow: ellipsis;overflow: hidden;}
#pagebar{height:32px;text-align:right;margin-top:10px;}
#pagebar a{background:#fafafa;font-size:14px;cursor:pointer;color:#333;border:1px solid #eee;display:inline-block;*display:inline; *zoom:1;height:30px;line-height:30px;padding:0 22px;}
#pagebar a:hover,#pagebar a.active{background:#c7e3f9;border:1px solid #67a0cd;}
h4.article_title{line-height:30px;font-size:18px;color:#555;font-weight:normal;text-align:center;margin:10px 0;color:#1c6f9b;}
.article_time{color:#aaa;font-size:12px;text-align:center;height:30px;line-height:30px;background:#fafafa;margin:10px 0;}
p.article {font-size:14px;line-height:22px;color:#888;text-indent:2em;line-height:30px;}
p.c{text-align:center;color:#666;}



/* 在线留言  */
.comments {width:755px;margin:0 auto;overflow:hidden;}
.comments ul {width:723px;overflow:hidden;padding:25px 15px;border-top:1px solid #eee;}
.comments ul li {width:723px;}
.comments ul li .reply {float:right;text-align:left;width:723px;font-size:14px;line-height:26px;word-break:break-all;word-wrap:break-word;}
.comments ul li .reply span {color:#999;padding:0 5px;}
.comments ul li .reply p{color:#444}
.comments ul li .reply .comments-info {font-size:12px;margin-bottom:15px;height:20px;line-height:12px;color:#999;font-family:Verdana,Arial,Helvetica,sans-serif;}
.comments ul li .reply .comments-info font {float:right;font-size:18px;color:#f90;}
.comments ul li .reply .operate {font-size:12px;margin-top:15px;font-family:Verdana,Arial,Helvetica,sans-serif;text-align:right;}
.comments ul li .reply .operate font {color:#f90;}
.comments ul li .reply .operate a {color:#999;}
.comments ul li .reply .operate a:hover {text-decoration:underline}
.comments ul li blockquote {width:670px;color:#666;border-left:5px #d0e5f2 solid;background:#fbfbfb;padding:6px 10px 6px 12px;margin:10px 0 0 50px;font-size:12px;}

.post-comments {width:725px;font-size:14px;padding:15px;background:#f6f6f6;border-radius:3px;margin:0 auto 15px;margin-top:15px;font-family:Arial,Verdana,Helvetica,sans-serif;overflow:hidden;}
.post-comments textarea {width:703px;height:90px;line-height:22px;font-size:12px;border:1px #f9f9f9 solid;overflow:auto;padding:5px 10px;border:1px solid #aaa;}
.post-comments span {font-size:12px;color:#bbb;line-height:26px;}
.post-comments input {width:120px;height:30px;line-height:26px;font-size:12px;text-align:center;background:#1088bc;border:0;color:#fff;}
.post-comments p{text-align:right;margin-bottom:5px;padding-top:5px;height:30px;line-height:30px;}
.post-comments p input {width:108px;height:24px;padding:0 5px;line-height:24px;font-size:12px;text-align:left;background:#f8f8f8;border:1px solid #aaa;color:#444;}
.post-comments p input:focus{outline:none;background:#dfedff}
.post-comments p em{font-style:normal;position:relative;top:-1px;*top:-4px;padding-left:10px}


/* 底部 */
#footer{color:#777;background:#f8f8f8;text-align:center;font-size:12px;margin-top:15px;letter-spacing:0.1em;padding:10px 0 10px 0;border-top:1px solid #ccc;line-height:18px;  }
#footer #friendLink a{color:#1c6f9b;font-size:12px;}
#footer #friendLink a:hover{text-decoration:underline}
#footer span{background:#1c6f9b;color:#fff;padding:0px 2px;display:inline-block;*display:inline; *zoom:1;border-left:1px solid #f8f8f8}

/* 图文列表 */
.lste h2{width:100%;}.lste{padding:0 0 25px 0}.lste li{width:722px;margin:25px auto 0 auto;zoom:1}.lste li:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}.lste li .img{float:left}.lste li .img img{width:180px;height:125px}.lste li .inf{float:left;margin:0 0 0 15px;width:520px}.lste li .inf h2{height:25px;line-height:25px}.lste li .inf .more{float:right;font-weight:500;padding:0 20px 0 0;background:url('../img/icon_1.png') 100% center no-repeat}.lste li .inf .more:hover{text-decoration:none}.lste li .inf div{line-height:2em;margin:0;color:#666}.lste li .inf p{line-height:2em;margin:5px 0 0 0;color:#666}.lste .line{float:none;clear:both;height:20px;overflow:hidden;border-bottom:1px solid #eaeaea;width:730px;margin:0 auto 0 auto}

/* 图片列表 4个每行*/
.lstc{padding:0 0 20px 0;overflow:hidden}.lstc li{float:left;width: 162px;_display:inline;margin:20px 0 0 20px}.lstc li .img{display:block}.lstc li .img img{width:166px;height:125px}.lstc li p{text-align:center;margin:10px 0 0 0;width:100%;}

/* 图片列表 3个每行*/	
.lstd{padding:0 0 20px 0;overflow:hidden}.lstd li{float:left;width: 216px;_display:inline;margin: 20px 0 0 28px;}.lstd li .img{display:block}.lstd li .img img{width: 216px;height:188px}.lstd li p{text-align:center;margin:10px 0 0 0;width:100%;}

/* 滚动图标抽离 */
.picMarquee-left .bd.hasimage ul li{position:relative;}
.picMarquee-left .bd.hasimage ul li .pic{text-align:center;position:relative;display:block;width:186px;color:#fff;letter-spacing:0.1em;line-height:163px; height:96px;background-image:none;background-repeat:no-repeat;background-position:0 0;}
.picMarquee-left .bd.hasimage ul li img{width:186px;height:96px;position:absolute;top:0;left:0}
